<div id="<%= dom_id question_and_answer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Question:</strong>
    <%= question_and_answer.question %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Answer:</strong>
    <%= question_and_answer.answer %>
  </p>

</div>
